[Desktop Entry]
Type=Application
Name=SDDM Configuration
GenericName=Display Manager Configuration
Comment=Qt configuration editor for SDDM
Categories=Settings;System;Qt
Icon=preferences-system
Terminal=false
Exec=sddm-configuration-editor
Terminal=false
StartupNotify=false

